*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body{
  width: 20px;
  height: 20px;
  margin:  0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo{
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  font-family: 'Luckiest Guy', cursive;
  color: rgb(188, 188, 255);
  letter-spacing: 1px;
  text-align: center;
  align-items: center;
  margin: auto;
}
.nav{
  width: 300px;
  height: 50px;
  display: flex;  
  margin: 0 auto;
  font-size: 20px;
  font-family: 'Luckiest Guy', cursive;
  color: rgb(188, 188, 255);
  letter-spacing: 1px;
}
.nav ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.nav a{
  font-size: 23px;
}
.cardChild{
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(140, 165, 255, 0.344);
  margin: 10px auto;
  text-align: center;border-radius: 10px;
  font-size: 20px;
  font-family: 'Luckiest Guy', cursive;
  color: rgb(177, 199, 255);
  text-shadow: 0 0 2px  rgb(21, 21, 21);
  letter-spacing: 1px;
}
.cardChild a{
  font-size: 25px;

}
.containerCardInfo{
  width: 350px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 201, 201);
  margin: 10px auto;
  text-align: center;border-radius: 10px;
}
.cardInfo{
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 1px auto;
  text-align: center;border-radius: 10px;
  font-size: 15px;
  font-family: 'Luckiest Guy', cursive;
  color: rgb(188, 188, 255);
  text-shadow: 0 0 2px  rgb(21, 21, 21);
  letter-spacing: 1px;
}
.cardInfo button{
  background-color: rgba(0, 0, 255, 0);
  border: none;
  font-size: 20px;
  font-family: 'Luckiest Guy', cursive;
  color: rgb(188, 188, 255);
  text-shadow: 0 0 2px  rgb(21, 21, 21);
  letter-spacing: 1px;
}
.cardAuth{
  width: 250px;
  height: 300px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: gray;
  align-items: center;
  border-radius: 20px;
}
.cardAuth form{
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  font-size: 20px;
  font-family: 'Luckiest Guy', cursive;
  color: rgb(188, 188, 255);
  text-shadow: 0 0 2px  rgb(21, 21, 21);
  letter-spacing: 1px;
}
.cardAuthSignUp{
  width: 250px;
  height: 400px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: gray;
  align-items: center;
  border-radius: 20px;
}
.cardAuthSignUp form{
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  font-size: 20px;
  font-family: 'Luckiest Guy', cursive;
  color: rgb(188, 188, 255);
  text-shadow: 0 0 2px  rgb(21, 21, 21);
  letter-spacing: 1px;
}
.cardTasks{
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(255, 225, 178, 0.344);
  margin: 10px auto;
  text-align: center;border-radius: 10px;
  font-size: 20px;
  font-family: 'Luckiest Guy', cursive;
  color: rgb(177, 199, 255);
  text-shadow: 0 0 2px  rgb(21, 21, 21);
}
.cardTasks img{
  width: 150px;
  height: 150px;
}
rh{
  width: 80%;
  height: 1px;
  background-color: rgb(166, 166, 166);
}
img{
  width: 100px;
  height: 100px;
  border: 10px solid rgba(202, 221, 255, 0.6);
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 55, 255, 0.761);
}
button{
  background-color: rgba(0, 0, 255, 0);
  border: none;
  font-size: 30px;
  font-family: 'Luckiest Guy', cursive;
  color: rgb(188, 188, 255);
  text-shadow: 0 0 2px  rgb(21, 21, 21);
  letter-spacing: 1px;
}
a{
  font-size: 30px;
  font-family: 'Luckiest Guy', cursive;
  color: rgb(188, 188, 255);
  text-shadow: 0 0 2px  rgb(21, 21, 21);
  letter-spacing: 1px;
}

  input{
  width: 250px;
  padding: 10px;
}
.swal2-popup {
  font-size: 20px!important;
  font-family: 'Luckiest Guy', cursive!important;
  color: rgb(255, 249, 143)!important;
  text-shadow: 0 0 2px  rgb(0, 0, 0)!important;
  background-color: rgb(255, 208, 208)!important; 
}
